{
    "parserOptions": {
        "ecmaVersion": 2017
    },
    "env": {
        "es6": true
    },
    "rules": {
        "no-var": "error",
        "curly": "error",
        "quotes": ["warn", "single"]
    }
}